[@HOSTNAME@]  # change to .* if you want this configuration to be use for all hosts
recording_base_dir = @RECORDING_FOLDER@
admin_secret = @KALTURA_PARTNER_ADMIN_SECRET@
partner_id = @KALTURA_PARTNER_ID@
mode = @VOD_UPLOAD_MODE@
token_key = @LIVE_PACKAGER_TOKEN@
cron_job_log_file_name = "@LOGS_BASE_PATH@/recording_cron.log"
log_file_name = "@LOGS_BASE_PATH@/liveRecorder.log"
recover_log_file_name = "@LOGS_BASE_PATH@/recorder.log"
api_service_url = @KALTURA_SERVICE_URL@