kind: Service
apiVersion: v1
metadata:
  name: live-front
  annotations:
   service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
spec:
  externalTrafficPolicy: Local
  selector:
    app: live-front
  type: LoadBalancer
  ports:
  - port: 80
    name: http
    targetPort: http
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: live-front-config
data:
  nginx.conf: |
     server {
        listen                  80;
        root                    /usr/share/nginx/html;
        resolver                100.64.0.10;  # fill will the ip address of the KubeDNS
        ssl_verify_client       off;

        location / {
           root   /usr/share/nginx/html;
           index  index.html index.htm;
        }
        location ~ /m/([^\/]+)/(.*) {
            proxy_set_header Host      $host;   #preserve host name
            proxy_set_header X-Real-IP $remote_addr;   #preserve ip address
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_pass http://$1.live-publish.default.svc.cluster.local:8080/$2$is_args$args;
        }
     }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: live-front
spec:
  selector:
    matchLabels:
      app: live-front
  replicas: 1
  template:
    metadata:
      labels:
        app: live-front
    spec:
      containers:
      - name: live-front
        image: nginx:1.13.10-alpine
        ports:
          - name: http
            containerPort: 80
        volumeMounts:
          - name: mysite-configs
            mountPath: /etc/nginx/conf.d/default.conf
            subPath: nginx.conf
      volumes:
        - name: mysite-configs
          configMap:
            name: live-front-config