kind: Service
apiVersion: v1
metadata:
  name: live-publish
spec:
  clusterIP: None
  selector:
    app: live-publish
  ports:
  - name: http
    protocol: TCP
    port: 1935
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: live-publish
spec:
  # this replicas value is default
  # modify it according to your case
  replicas: 1
  serviceName: live-publish
  selector: 
    matchLabels:
      app: live-publish
  template:
    metadata:
      labels:
        app: live-publish
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      hostAliases:
        - ip: "127.0.0.1"
          hostnames:
          - "pa-udrm"
          - "media-server"
      volumes:
        - name: content
          hostPath:
            path: /web/content/kLive
      containers:
      - name: media-server
        imagePullPolicy: "Always"
        envFrom:
          - configMapRef:
              name: my-env
        env:
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        resources:
            requests:
              cpu: "3.5"
        image: 983882572364.dkr.ecr.eu-west-1.amazonaws.com/media-server:test
        ports:
          - name: rtmp
            containerPort: 1935
          - name: http
            containerPort: 80
      - name: live-controller
        imagePullPolicy: "Always"
        envFrom:
          - configMapRef:
              name: my-env
        env:
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        resources:
            requests:
              cpu: "0.5"
        image: 983882572364.dkr.ecr.eu-west-1.amazonaws.com/live-controller:test
        volumeMounts:
          - name: content
            mountPath: /web/content/kLive
        ports:
          - name: http
            containerPort: 43900
      - name: live-packager
        imagePullPolicy: "Always"
        envFrom:
          - configMapRef:
              name: my-env
        env:
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        resources:
          requests:
            cpu: "0.5"
        image: 983882572364.dkr.ecr.eu-west-1.amazonaws.com/live-packager:test
        volumeMounts:
          - name: content
            mountPath: /web/content/kLiveapp
        ports:
          - name: http
            containerPort: 8080


